PORT=5000

# MongoDB Connection String (e.g. Local or MongoDB Atlas URI)
MONGO_URI=mongodb+srv://<db_username>:1DHzczBYSmYqtiYk@cluster0.ydnyhxu.mongodb.net/?appName=Cluster0

# Fallback to local JSON-file database (data/db.json) if MongoDB is not running (true/false)
USE_MOCK_DB=true

# JWT Token Secret Configuration
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=24h
